.pro_box_container {
    width: 500px;
    height: auto;
    padding: 14px 18px;
    background-color: #181818;
    box-shadow: -8px 8px 8px 0 red;
    margin: 40px;
}
.pro_box_title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.pro_box_sentences > p {
    font-size: 18px;
}
.pro_box_subtitle {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.pro_box_link > span{
    font-size: 20px;
    font-weight: 700;
}
.pro_box_images {
    display: flex;
    justify-content: center;
}
.pro_box_images > img {
    height: 40px;
    margin: 0 10px;
}